/InterestRate/nbproject/private/
/InterestRate/build/
/rectangle/nbproject/private/
/rectangle/build/
/EvenOrOdd/nbproject/private/
/EvenOrOdd/build/
/PositiveNegZero/nbproject/private/
/PositiveNegZero/build/
/LeapYearChecker/nbproject/private/
/LeapYearChecker/build/
/GreatestTwoNumbers/nbproject/private/
/CheckVowelConsonant/nbproject/private/
/GradeCalculator/nbproject/private/
/CheckVowelConsonant/build/
/AlphabetCheck/nbproject/private/
/AlphabetCheck/build/
/Calculator/nbproject/private/
/convert mint/nbproject/private/
/currentTime/nbproject/private/
/usescanner library/nbproject/private/
/usescanner library/build/
/GradeCalculator/build/
